.hide-navbar {
  opacity: 0;
}

.unhide-navbar {
  transition: all 1s ease-in;
  opacity: 1;
}

main .navbar-brand {
  margin-right: 0;
}

.main-nav {
  position: fixed;
  z-index: 100;
  display: block;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
}

nav h1 {
  text-shadow: 0.05em 0.05em 0.1em black;
  color: white;
  font-size: 2.5rem;
  font-weight: bolder;
}

main .navbar-light .navbar-nav .nav-link {
  text-shadow: 0.05em 0.05em 0.05em black;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: #ffffff00 0.15em solid;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0);
}

main .navbar-light .navbar-nav .nav-link:hover {
  color: white;
  padding-bottom: 0.1em;
  border-bottom: white 0.15em solid;
  box-shadow: 0 0.15em 0.15em -0.15em black;
}

main .navbar-light .navbar-nav .show > .nav-link,
main .navbar-light .navbar-nav .active > .nav-link,
main .navbar-light .navbar-nav .nav-link.show,
main .navbar-light .navbar-nav .nav-link.active {
  color: white;
  padding-bottom: 0.1em;
  font-weight: 900;
  border-bottom: white 0.15em solid;
  box-shadow: 0 0.15em 0.15em -0.15em black;
}

@media (min-width: 1100px) {
  nav h1 {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    max-width: 1200px;
    margin: auto;
  }
  .navbar-expand-md .navbar-nav {
    justify-content: flex-end;
  }
}

.navbar-light .navbar-toggler {
  background-color: white;
  border: none;
  box-shadow: 0.05em 0.05em 0.1em black;
}
