.home-carousel .carousel-item img {
  object-fit: cover;
  min-height: 100vh;
  max-height: 100vh;
}

.home-carousel .carousel-item h1 {
  text-shadow: 0.05em 0.05em 0.1em black;
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  width: fit-content;
  margin: auto;
}

.home-carousel .carousel-item p {
  text-shadow: 0.05em 0.05em 0.1em black;
  color: white;
  font-size: 2rem;
  width: fit-content;
  margin: auto;
  margin-bottom: 1em;
  transition: font-weight 0.3s;
}

.home-carousel .carousel-item:hover h1,
.home-carousel .carousel-item:active h1,
.home-carousel .carousel-item:focus h1 {
  cursor: pointer;
}

.home-carousel .carousel-item:hover p,
.home-carousel .carousel-item:active p,
.home-carousel .carousel-item:focus p {
  cursor: pointer;
}

.home-carousel .carousel-item p:hover,
.home-carousel .carousel-item p:hover,
.home-carousel .carousel-item p:hover {
  font-weight: bolder;
}
