.display-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.display-contacts .contact {
  margin: 1em;
  height: fit-content;
}

.display-contacts .contact:hover {
  cursor: pointer;
}

.display-contacts .contact img {
  max-width: 50px;
  margin-bottom: 0.6em;
}

.display-contacts .contact a {
  color: inherit;
}
.display-contacts .contact a:hover {
  text-decoration: none;
  color: gray;
}

.display-contacts .contact p {
  margin-bottom: 0;
}
