.display-room-facilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.display-room-facilities .room-facilities {
  margin: 1em;
  height: fit-content;
}

.display-room-facilities .room-facilities img {
  max-width: 2px;
  margin-bottom: 0.6em;
}

.display-room-facilities .room-facilities a {
  color: inherit;
}
.display-room-facilities .room-facilities a:hover {
  text-decoration: none;
  color: gray;
}

.display-room-facilities .room-facilities p {
  margin-bottom: 0;
}
