.App,
.App main {
  text-align: center;
  font-family: "Bodoni Moda", serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main p {
  font-family: "Work Sans", sans-serif;
}

.page-margin {
  max-width: 1200px;
  margin: auto;
}
