.welcome {
  margin-top: 3em;
}

.welcome > p,
.welcome .home-contact {
  max-width: 800px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.home-contact {
  display: flex;
  justify-content: space-around;
}
.home-contact h4 {
  text-transform: capitalize;
}
